@{
	ViewData["Title"]  = "New Page";
}

<!-- All classes or text values below each comment are the ones needing changing. -->
<!-- The ViewBags are to select which navBar, sideBar, etc. you wanna use. -->
<div id="navBar"> 
    <!--Class below this.-->
    <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        <!--Text/name attribute below this.-->
        <a class="navbar-brand" href="#" contenteditable="true" name="WebSiteName">WebSiteName</a>
        </div>
        <!--Class below this.-->
        <ul class="nav navbar-nav navbar-right">
            <!--Text/name attribute below this.-->
            <li><a href="#" contenteditable="true" name="Page 1">Page 1</a></li>
            <!--Text/name attribute below this.-->
            <li><a href="#" contenteditable="true" name="Page 2">Page 2</a></li>
            <!--Text/name attribute below this.-->
            <li><a href="#" contenteditable="true" name="Page 3">Page 3</a></li>
        </ul>
    </div>
    </nav>
</div>
<!--Class below this.-->
<div class="col-sm-2 text-center sidebar2" name="col-sm-2 text-center sidebar2">
    <ul class="nav flex-column">
        <!--Text/name attribute below this.-->
        <li class="nav-item"><a class="nav-link" href="#" contenteditable="true" name="Active">Active</a></li>
        <!--Text/name attribute below this.-->
        <li class="nav-item"><a class="nav-link" href="#" contenteditable="true" name="Link">Link</a></li>
        <!--Text/name attribute below this.-->
        <li class="nav-item"><a class="nav-link" href="#" contenteditable="true" name="Link">Link</a></li>
        <!--Text/name attribute below this.-->
        <li class="nav-item"><a class="nav-link" href="#" contenteditable="true" name="Disabled">Disabled</a></li>
    </ul>
</div>      
<div class="col-sm-9 col-sm-offset-2">
    <!--Class below this AND Text/name attribute below this.-->
    <h2 class="font3" contenteditable="true" name="Post Title">Post Title</h2>
    <!--Class below this AND Text/name attribute below this.-->
    <h5 class="font1" name=" Post by John Doe, Mar 30, 2017."><span class="glyphicon glyphicon-time"></span> Post by John Doe, Mar 30, 2017.</h5><br>
    <!--Class below this AND Text/name attribute below this.-->
    <p class="font1" contenteditable="true" name="Edit your post text here.">Edit your post text here.</p>
</div>
