@{
   ViewData["Title"]  = "User Dashboard";
}
<div class="backgroundAdmin">
<h4 class="site_title"><a href="/">Website Admin</a> | <a href="#">Options</a> | <a href="#">Security</a> | <a href="#">Logout</a></h4>
<div class="jumbotron setcolor">
    <div class="page-header">
    <h1>DOJOCMS</h1>
    </div>
    <h5>Complete your webpage in minutes<h5>
</div>

<aside id="sidebar" class="setcolor">
    <div class="col-sm-5 Context">

        <h4>Start building your website here <a href="Navbar">New Site</a> </h4>
        <h4>Edit your website <a href="#">Edit Site</a> </h4>
        <h4>Have a look at the <a href="#">Databases</a> Schema</h4>
		<h4>Look at a <a href="UserPage">Preview</a> of your website</h4>
    </div>
    <div class="col-sm-3">
            <h4><a href="#">Add New User</a></h4>
            <h4><a href="#">View Users</a></h4>
            <h4><a href="#">Your Profile</a></h4>
    </div>
    <div class="col-sm-3">
        <h3>Media</h3>
        <h4><a href="#">File Manager</a> | <a href="#">Gallery</a> | <a href="#">Audio</a> |  <a href="#">Video</a></h4>
    </div>

</aside><!-- end of sidebar -->
</div>

<!--<section id="main" class="column">
    
    <h4 class="alert_info">Welcome to the admin panel, this could be an informative message.</h4>
    
    <article class="module width_full">
        <header><h3>SampleStatsSection</h3></header>
        <div class="module_content">
            <article class="stats_graph">
                <img src="http://chart.apis.google.com/chart?chxr=0,0,3000&chxt=y&chs=520x140&cht=lc&chco=76A4FB,80C65A&chd=s:Tdjpsvyvttmiihgmnrst,OTbdcfhhggcTUTTUadfk&chls=2|2&chma=40,20,20,30" width="520" height="140" alt="" />
            </article>
            
            <article class="stats_overview">
                <div class="overview_today">
                    <p class="overview_day">Today</p>
                    <p class="overview_count">1,876</p>
                <p class="overview_type">Hits</p>
                <p class="overview_count">2,103</p>
                <p class="overview_type">Views</p>
            </div>
            <div class="overview_previous">
                <p class="overview_day">Yesterday</p>
                <p class="overview_count">1,646</p>
                <p class="overview_type">Hits</p>
                <p class="overview_count">2,054</p>
                <p class="overview_type">Views</p>
            </div>
        </article>
        <div class="clear"></div>
    </div>
</article> end of stats article -->