.sidebar{
    position:absolute;
    height:86%;
    background-color:cadetblue;
}
.side1 li a{
    color:black;
}
.sidebar1 li a{
    color:white;
}
.sidebar2 li a{
    color:black;
}
.sidebar3 li a{
    color:white;
}
.sideNext{
    position:relative;
    left:80%;
    /*float:right;*/
}
body{
    /*background-color:lightgray;*/
   background-color:white;
}
.side_nav{
   min-height: 753px;
   background-color:teal;
   color:white
}
.jumbotron{
    background-color:white;
}
.story{
    margin-top:-20px;
    background-color:white;
    padding-left:20px;
    min-height: 590px;
}

.tempContext{
    margin-top:-20px;
}
.tiles{
    /*background-color:green;*/
    height:450px;
    margin-left:-10px;
    margin-right:-10px;
}
.navbars{
    margin-bottom: 5%;
}
.sidebar1{
    position:absolute;
    height:80%;
    background-color:cadetblue;
}
.sidebar2{
    position:absolute;
    height:80%;
    background-color:lightgrey;
}
.sidebar2push{
    left:27.5%;
}
.sidebar3push{
    left:50%;
}
.sidebar3{
    position:absolute;
    height:80%;
    text-align: right;
    background-color:black
}
.font1{
    font-family: Georgia, "Times New Roman", Times, serif;
}

.font2{
    font-family: monospace, "Courier New", Courier;
}

.font3{
    font-family: Helvetica, Arial, sans-serif;
}