/*Write all of your CSS here*/
body{
    /*background-color:lightgray;*/
   background-color:white;
}
.side_nav{
   min-height: 753px;
   background-color:teal;
   color:white
}
.jumbotron{
    background-color:white;
}
.story{
    margin-top:-20px;
    background-color:white;
    padding-left:20px;
    min-height: 590px;
}

.tempContext{
    margin-top:-20px;
}
.tiles{
    /*background-color:green;*/
    height:450px;
    margin-left:-10px;
    margin-right:-10px;
}
.navbars{
    margin-bottom: 5%;
}

.sidebar{
    position:absolute;
    height:79%;
    margin-top:-5%;
    background-color: #f1f1f1;
    /*background-color: gray;*/
}
.sidebar1{
    text-align:center;
}

.font1{
    font-family: Georgia, "Times New Roman", Times, serif;
}

.font2{
    font-family: monospace, "Courier New", Courier;
}

.font3{
    font-family: Helvetica, Arial, sans-serif;
}