@{
	ViewData["Title"] = "Login ";}
<div>
	<nav class = "navbar navbar-inverse">
		<div class ="container-fluid">
			<div class = "navbar-header">
				<a class="navbar-brand" href="#">Home</a>
			</div>
			<ul class="nav navbar-nav">
				<li class = "active"><a href="#">TEXT</a></li>
				<li><a href="#">TEXT</a></li>
				<li><a href="#">TEST</a></li>
				<li><a href="#">TEST2</a></li>
			</ul>
		</div>
	</nav>
	<div class="sm-3 sidebar text-center">
		<div class="">
			<br />
			<ul class = "nav nav-pills nav-stacked toggle">
				<li><a href="#">Test3</a></li>
				<li><a href="#">Test4</a></li>
			</ul><br />
			<div class="input-group">
				<input type = "text" class = "form-control" placeholder = "Search Blog..."/>
				<span class = "input-group-btn">
				<button class="btn btn-default" type = "button">
					<span class="glyphicon glyphicon-search"></span>
				</button>
				</span>
			</div>
		</div>
	</div>
	<div class="col-sm-9 col-sm-offset-3">
			<div>
		<h2 class="font1">Title</h2>
	</div>
	<div>
		<h5 class="font1"><span class="glyphicon glyphicon-time"></span> UserName Date Submitted </h5><br />
		<p class="font1">Edit your post here</p>
	</div>
</div>
