@{
    ViewData["Title"] = "Home Page";
}
<!--<div class="container">-->

  <div class="jumbotron">
      <div class="page-header">
      <h1>DOJOCMS</h1>
      </div>
      <p>Complete your webpage in minutes<p>
    </div>

    <div class="row">
        <img src="~/images/city.jpg" class="img-responsive">
    </div>

  <div class="jumbotron">
      <div class="inside">
        <h1>DESIGN</h1>
        <p>Customize styles, fonts, and more</p>
      </div>

      <div class="inside">
        <h1>CREATE</h1>
        <p>Create templates for website, blogs and more</p>
      </div>

      <div class="inside">
        <h1>DEPLOY</h1>
        <p>Have full access to your unique code</p>
      </div>

  </div>

<!--</div>-->