@{
    ViewData["Title"] = "Register ";
}

<div class="backgroundBody">
  <div class="col-lg-12">
    <div id="text">
      <h1>Create your account below</h1>
    </div>

    <div>
    @{
        foreach(var error in ViewBag.Errors)
        {
            //If there are any errors for a field...
            if(@error.Errors.Count > 0)
            {
                // We show the first error for that field
                <p>@error.Errors[0].ErrorMessage</p>
            }
        }
    }
</div>

    <form class="form-horizontal" action="Register" method="post">
      <div class="form-group">
        <label class="control-label col-sm-2" for="name"></label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name">
        </div>
      </div>
      
        <div class="form-group">
        <label class="control-label col-sm-2" for="email"></label>
        <div class="col-sm-8"> 
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="password"></label>
        <div class="col-sm-8"> 
          <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="PassConfirm"></label>
        <div class="col-sm-8"> 
          <input type="password" class="form-control" id="PassConfirm" name="PassConfirm" placeholder="Confirm your password">
        </div>
      </div>
      <div class="form-group"> 
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">SUBMIT</button>
        </div>
      </div>
    </form>
  </div>
</div>