@{
    ViewData["Title"] = "WireFrames Page";
}
<script>
    function NavToAdd(navId){
        $('#result').val("");
        if(navId){
            $.get('/selectedNav/'+navId,function(req,res){
                $('#result').val(navId +' is selected');
            });
        }
    }
</script>

<div class="container">
    <div id="navbar1" class="navbars" onclick="NavToAdd(1)">
        <h4>Navbar1</h4>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
                </div>
                <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Page 1</a></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div id="navbar2" class="navbars" onclick="NavToAdd(2)">
        <h4>Navbar2</h4>
        <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Page 1</a></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
            </ul>
        </div>
        </nav>
    </div>
    <div id="navbar3" class="navbars" onclick="NavToAdd(3)">
        <h4>Navbar3</h4>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#" contenteditable="true" name="WebSiteName">WebSiteName</a>
                </li>
                <li class="nav-item">
                    <a href="#" contenteditable="true" name="Action">Action</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" contenteditable="true" name="Link">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" contenteditable="true" name="Disabled">Disabled</a>
                </li>
            </ul>
    </div>
    <input type="text" id="result">
    <a href="/SidebarPool" class="btn btn-primary">Next</a>
</div>