<!-- This part will be formatted by Wyatt when .cshtml is made.
                    IT WILL? - Wyatt
 -->
@{
    ViewData["Title"] = "WireFrames Page";
}

<!-- SKELETON BELOW -->
<!-- ROOT DIV: holds ALL pieces. ID: primary -->
<div>
    <!-- FIRST NAV: Contains 6 editables. ID: navbar -->
    <!-- Content below editable. (navbar-!@#$!@#) -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <!-- Content below editable. -->
                <a class="navbar-brand" href="#">WebSitePage</a>
            </div>
            <ul class="nav navbar-nav">
            <!-- Content below editable. -->
            <li class="active"><a href="#">Home</a></li>
            <!-- Content below editable. -->
            <li><a href="#">Page 1</a></li>
            <!-- Content below editable. -->
            <li><a href="#">Page 2</a></li>
            <!-- Content below editable. -->
            <li><a href="#">Page 3</a></li>
            </ul>
        </div>
    </nav>

    <!-- SECOND DIV: Contains 4 editables. ID: sidebar -->
    <div class="col-sm-3 sidebar text-center">
        <div class="">
            <br>
            <ul class="nav nav-pills nav-stacked toggle">
                <!-- Content below editable. -->
                <li><a href="#">Home</a></li>
                <!-- Content below editable. -->
                <li><a href="#">Friends</a></li>
                <!-- Content below editable. -->
                <li><a href="#">Family</a></li>
                <!-- Content below editable. -->
                <li><a href="#">Photos</a></li>
            </ul><br>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Blog...">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
                </span>
            </div>
        </div>
    </div>

    <!-- THIRD DIV: Contains 2 editables. ID: mainbody -->
    <div class="col-sm-9 col-sm-offset-3">
        <div>
            <!-- Content below editable. -->
            <h2 class="font1">Post Title</h2>
        </div>
        <div>
            <!-- Will eventually contain user name and date submitted. -->
            <h5 class="font1"><span class="glyphicon glyphicon-time"></span> Post by John Doe, Mar 30, 2017.</h5><br>
            <!-- Content below editable. -->
            <p class="font1">Edit your post text here.</p>
        </div>
    </div>

</div>