@{
    ViewData["Title"] = "WireFrames Page";
}
<script>
    function SelectedSidebar(SidebarId){
        $('#result').val("");
        if(SidebarId){
            $.get('/selectedSidebar/'+SidebarId,function(req,res){
                $('#result').val(SidebarId +' is selected');
            });
        }
    }
</script>
<div class="container">

    <div class="col-sm-2 col-sm-offset-1  sidebar1"  onclick="SelectedSidebar(1)">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </div>

    <div class="col-sm-2 col-sm-offset-1 text-center sidebar2 sidebar2push"   onclick="SelectedSidebar(2)">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
     </div>

    <div class="col-sm-2 col-sm-offset-1 text-center sidebar3 sidebar3push"  onclick="SelectedSidebar(3)">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
     </div>
    
    <div class="col-sm-9 sideNext">
        <input type="text" id="result">
        <a href="/HeaderPool" class="btn btn-primary">Next</a>
    </div
</div>