@{
    ViewData["Title"] = "WireFrames Page";
}
<script>
    function SelectedSidebar(SidebarId){
        $('#result').val("");
        if(SidebarId){
            $.get('/selectedSidebar/'+SidebarId,function(req,res){
                $('#result').val(SidebarId +' is selected');
            });
        }
    }
</script>
<div class="container">

    <div class="col-sm-2 col-sm-offset-1  sidebar1"  onclick="SelectedSidebar(1)">
        <ul class="nav nav-pills nav-stacked toggle">
            <li><a href="#section1" contenteditable="true">Home</a></li>
            <li><a href="#section2" contenteditable="true">Friends</a></li>
            <li><a href="#section3" contenteditable="true">Family</a></li>
            <li><a href="#section4" contenteditable="true">Photos</a></li>
        </ul><br>
    </div>

    <div class="col-sm-2 col-sm-offset-1 text-center sidebar2"   onclick="SelectedSidebar(2)">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
     </div>

    <div class="col-sm-2 col-sm-offset-1 text-center sidebar3"  onclick="SelectedSidebar(3)">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
     </div>
    
    <div class="col-sm-8 sideNext">
        <input type="text" id="result">
        <a href="/HeaderPool" class="btn btn-primary">Next</a>
    </div
</div>